@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');


body {
	font-family: 'Cinzel', serif;
	background-color: black;
	color: rgb(255, 255, 255);
}




.logo img{
	
	width: 4em;

}

.caption {
	justify-content: space-between;
	margin-left: -16em;
	color: white;
	text-decoration: none;
	list-style: none;
		
		
}
ul li a{
	color: white;
	text-decoration: none;
	width: 100%;
	
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	left:-10px;
}



.nav_links{
	list-style: none;
	color: rgb(255, 255, 255);
}

.nav_links li{

	display: inline-block;
	padding: 0px 20px;

}

.nav_links li a:hover{
	color: rgb(255, 0, 0);
}

button{
		padding: 9px 25px;
		background-color:rgb(255, 0, 0);
		border: none;
		border-radius: 50px;
		cursor: pointer;
		font-family: 'Cinzel', serif;
		
}





.container{

	display: flex;
	justify-content: space-between;
	position:absolute;
	margin: 13em 14em;
	align-items: center;
	
	
}
.container img{
	
	
	
	border-radius: 5px;
	width: 15em;
	
	
}


.container .dua{
	
	margin-left: 5em ;
	margin-top: -5em;
	text-align: center;

}

* {box-sizing:border-box}




.container-2{

	
	width: 50%;
	margin-top: 40em;
	margin-left: 20em;
	
position: absolute;

}

.skillbar {
  text-align: left; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: #04AA6D;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */




#particles-js{
	display:block;
	
	width: 100%;
	height: 1800px;
	position:cover;
	background-size:cover;
	
}

.form{
	color:black;
	background-color: #fff;
	width: 30%;
	margin: 80em 28em;
	box-sizing: border-box;
	position: absolute;
	border-radius: 10px;
	border: none;
	outline: none;
	text-align: center;
	align-items: center;
}

.form .input-group{
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.form .input-group input{
	width: 90%;
	height: 50px;
	padding: 0 20px;
	box-sizing: border-box;
	border: 3px solid black;
	border-radius: 10px;
	font-family: 'Cinzel', serif;
}

.form .input-group input[type="submit"]{
	background:-webkit-linear-gradient(right ,rgb(255, 0, 0),rgb(0, 0, 0));
	cursor: pointer;
	border: none;
	height: 42px;
	width: 150px;
	color: white;
}

.form .input-group span{
	position: absolute;
	left: 40px;	
	top: 15px;
}


.form .input-group input:focus ~ span,
.form .input-group input:valid ~ span{

	
	opacity: 0;
	transform: 0.5;
	

}


#footer{
	position: absolute;
  width: 100%;
  font-size:15px;
  color: #fff;
  text-align: center;
 
  clear: both;
  
	margin: 115em;
	margin-left: -1em;
 }


 /* media break point */

 @media screen and (max-width: 768px) {
	nav ul{
		width: 50%;
		display: flex;
		flex-direction: left;
		margin-right: 100px;

	}
	.caption{
		display: none;
	}

	
 }

 @media screen and (max-width:500px) {
	 
	 body{
		overflow-x: hidden;
	}
	nav ul{
		display: none;
	
	}

	.container .satu{
		width: 50%;
		
		margin-right: -3em;
		position: relative;
		margin-bottom: 40em;
		
	}

	.container img{
		width: 100px;
		margin-left: -8.5em;
		margin-bottom: 20em;
		
	}
	.container .satu span h1{
		position: relative;
		margin: -10em;
		margin-left: -5em;
		
		
	}

	.container .dua{

		margin-bottom: 20em;
		text-align:left;
		white-space: normal;
		font-size: 15px;

		 line-height: 1,5;
		
	}

.container-2{

	margin-top: 45em;
	margin-left: 5em;
	width: 80%;

}

.container-2 .title h1{
	margin-left: 2em;
	
}
	
.form{
	margin-left: 5em;
	width: 300px;

}
#footer{
	margin-left: -1em;
}

#particles-js{
	width: 500px;
	
}
}